.app-container{
  display: flex;
  margin-left: 100px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  min-width: 100px;
  top: 0;
  background-color: #ededed;
  height: 100%;
  position: fixed;
  overflow: auto;
  box-shadow: 1px 0px 10px #012729;
}

.nav-li a {
  display: block;
  color: #012729;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-li a:hover {
  background-color: #012729;
  color: white;
}

.app-name-p{
  display: block;
  color: #012729;
  padding: 8px 16px;
  font-weight: 800;
}

.active a{
  background-color: #01272991;
  color: white;
}

.contact-card{
  background-color: white;
  color: #012729;
  box-shadow: 1px 1px 5px #01272991;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

#add-form > label{
  display: block;
}

#add-form > input{
  display: block;
  margin: 5px 0px 5px 0;
}

.edit-form-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite-checkbox{
  cursor: pointer;
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.contact-list-container {
  width: 100%;
}

.action-button{
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.action-button-group{
  margin: 10px 0px 10px 0px;
}